<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUM Room Locator</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body class="bg-gray-100">

<div class="flex">

    {% if current_user.is_authenticated %}

    <!-- SIDEBAR -->
    <div id="sidebar"
         class="bg-green-700 text-white h-screen w-64 p-5 fixed transition-all duration-300">

        <button onclick="toggleSidebar()" class="mb-6">
            ☰
        </button>

        <div id="sidebarContent">
            <span class="label">
                <p class="font-semibold">{{ current_user.username }}</p>
            </span>

            <span class="label">
                <p class="text-xs text-gray-200 mb-6">{{ current_user.email }}</p>
            </span>

            <nav class="flex flex-col gap-3">
                <span class="label">
                    <a href="/map">Map</a>
                </span>
                <span class="label">
                    <a href="/account">Account</a>
                </span>

                {% if current_user.role == 'admin' %}
                    <a href="/admin">Admin</a>
                {% endif %}
            </nav>
        </div>
        <span class="label">
            <a href="/logout" class="absolute bottom-5">Logout</a>
        </span>

    </div>

    {% endif %}

    <!-- MAIN -->
    <div id="mainContent" class="flex-1 ml-64 p-6 transition-all duration-300">
        {% block content %}{% endblock %}
    </div>

</div>

<script>
let collapsed = false;

function toggleSidebar() {
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('mainContent');

    sidebar.classList.toggle('collapsed');
}
</script>

<style>
#sidebar {
    inline-size: 250px;
    transition: all 0.3s;
}

#sidebar.collapsed {
    inline-size: 70px;
}

#sidebar.collapsed .text,
#sidebar.collapsed .label {
    display: none;
}
</style>
</body>