{% extends "base.html" %}

{% block content %}

<h2 class="text-xl font-semibold mb-4">Room Locator</h2>


<div class="bg-white shadow-md p-4 rounded-lg mb-4 flex gap-2">
    <label for="campusSelect" class="sr-only">Select Campus</label>
    <select id="campusSelect" class="border p-2 rounded w-1/4">
        <option value="">Select Campus</option>
        <option value="1">Main Campus</option>
        <option value="2">Mazrui Campus</option>
    </select>

    <div class="relative w-2/4">
        <input type="text" id="searchInput" placeholder="Search building..." class="border p-2 rounded w-full">

        <div id="suggestions"
            class="absolute bg-white border rounded shadow w-full mt-1 hidden z-50">
        </div>
    </div>
    <button id="searchBtn" onclick="searchBuilding()"
        class="bg-green-600 text-white px-4 py-2 rounded">
        Search
    </button>

    <button onclick="resetMap()"
        class="bg-orange-500 text-white px-4 py-2 rounded">
        Reset
    </button>
</div>
<div id="map" class="w-full h-[500px] rounded-lg shadow"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}