{% extends "base.html" %}

{% block content %}

<div class="max-w-md mx-auto mt-20 bg-white p-6 rounded shadow">

    <h2 class="text-xl font-semibold mb-4 text-center">Create Account</h2>

    {% if error %}
    <div class="bg-red-100 text-red-700 p-2 mb-3 rounded">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST" class="space-y-4">

        <input name="username" placeholder="Username"
            class="w-full p-2 border rounded" required>

        <input type="email" name="email" placeholder="Email" 
            class="w-full p-2 border rounded" required>

        <div>
            <label for="programme_id" class="text-sm text-gray-600">Programme</label>
            <select name="programme_id" id="programme_id" class="w-full p-2 border rounded">
                <option value="">Select programme if you are a student</option>

                {% for p in programmes %}
                    <option value="{{ p.id }}">
                        {{ p.code }} - {{ p.name }} ({{ p.department_name }})
                    </option>
                {% endfor %}
            </select>

            <p class="text-xs text-gray-400 mt-1">
                Required for students. Lecturers can leave this blank.
            </p>
        </div>

        <div>
            <label for="cohort_id" class="text-sm text-gray-600">Class Group / Cohort</label>
            <select id="cohort_id" name="cohort_id" class="w-full p-2 border rounded">
                <option value="">Select your class group</option>

                {% for c in cohorts %}
                    <option value="{{ c.id }}">
                        {{ c.code }} - Year {{ c.year_of_study }}
                    </option>
                {% endfor %}
            </select>

            <p class="text-xs text-gray-400 mt-1">
                Required for students. Example: BSIT/SEP2022/J/S-FT.
            </p>
        </div>

        <input type="password" name="password" placeholder="Password"
            class="w-full p-2 border rounded" required>

        <input type="password" name="confirm_password" placeholder="Confirm Password"
            class="w-full p-2 border rounded" required>

        <button type="submit"
            class="w-full bg-green-600 text-white p-2 rounded hover:bg-green-700">
            Register
        </button>

    </form>

    <p class="mt-4 text-center text-sm">
        <a href="/login" class="text-blue-600 hover:underline">
            Already have an account? Login
        </a>
    </p>

</div>

{% endblock %}